@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@100;200;300;400;500;600;700;800&display=swap');

// Variables

//$primary:       $blue !default;
//$secondary:     $gray-600 !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light:         #E8DECD;
$dark:          #333333;

$modal-backdrop-bg:           #222222;

//$white:    #fff !default;
//$gray-100: #f8f9fa !default;
//$gray-200: #e9ecef !default;
//$gray-300: #dee2e6 !default;
//$gray-400: #ced4da !default;
//$gray-500: #adb5bd !default;
//$gray-600: #6c757d !default;
//$gray-700: #495057 !default;
//$gray-800: #343a40 !default;
//$gray-900: #212529 !default;
//$black:    #000 !default;

//$orange:  #fd7e14 !default;
//$yellow:  #ffc107 !default;
//$green:   #28a745 !default;

$h1-font-size:                56px;
$h2-font-size:                38px;
$h3-font-size:                23px;
$h4-font-size:                17px;

$font-family-sans-serif:      'Dosis', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
